
        /* Required for full background image */
html,
body,
header,
#intro-section {
                height: 100%;
                }
@media (max-width: 740px) {
                            html,
                            body,
                            header,
                            #intro-section {
                                        height: 100vh;
                                }
                           }
.bg3{
     background-color:#e37412;
     height: 10%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     }
.bg1{
	background-color:#f2edd7ff;
    }
.bg2{
     background-color:#eb9252;
	}
.header1 {
 	overflow: hidden;
	background-color:#d44e0b;
	padding: 10px 10px;
	height: 135px;
	}
.center 
	{
 	height: 700px;
	width:100%;	
			}
			

.buttonx
	{
	background-color:#674a40;
	color: white;
  	padding: 15px 32px;
  	text-align: center;
	border: none;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;		
  	margin: 4px 2px;
  	cursor: pointer;
	border-radius: 12px;
	}
input[type=radio] {
    border: 0px;
    width: 70%;
    height: 1.1em;
}
